
li{
	list-style: none;
}
.my-home-icon {
			    background-image: url(../images/logo.png) !important;
			    background-size: 13px;
			}
.title-ul{
	height:inherit;
	margin: 0;
	padding: 5px 30px;
	overflow: hidden;
	background: #36648B;
}
.title-ul li{
	float:left;
	color: #fff;
}
.title-ul li img{
	height:42px;
	width:auto;
}
.title-ul li h2{
	margin-left: 10px;
}
.span{
	color:red;
}