#toppanel {
    background-color: #28384a;
    border-bottom: 1px solid #0d1218;
}

#toppanel-logo {
    font-size: 26px;
    line-height: 1.2;
    margin: 0 12px;
}

#toppanel-title, #toppanel-logo {
    color: white;
}

#toppanel-title {
    padding: 10px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
}

#toppanel-title, #toppanel-logo {
    color: white;
}

#navpanel .x-title-icon {
    font-size: 20px;
}

#mainpanel .x-tab-icon-el {
    font-size: 14px;
}

.ks-profile-switcher {
    color: white;
    font-size: 21px;
    cursor: pointer;
    margin: 0 15px;
}

/*导航栏 树的叶子节点图标颜色*/
#navpanel .x-panel-body .iconfont{
    color: #000000;
}
