/*标题栏*/
#toppanel {
    background-color: #28384a;
    border-bottom: 1px solid #0d1218;
}

/*标题栏 logo*/
#toppanel-logo {
    color: white;
    font-size: 26px;
    line-height: 1.2;
    margin: 0 10px 0 15px;
    width: 32px;
    height: 32px;
    background: url("../images/logo.png") center center no-repeat;
    background-size: auto 100%;
}

/*标题栏 title*/
#toppanel-title {
    color: white;
    padding: 10px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
}

/*主题选择 label*/
#themeswitch .x-form-item-label-text {
    color: #fff;
}

/*系统菜单*/
#systemmenu {
    color: white;
    font-size: 21px;
    cursor: pointer;
}

/*导航栏 标题栏*/
#navpanel .x-panel-header-title .x-title-text {
    color: #fff;
}

/*内容标签 图标*/
#mainpanel .x-tab-icon-el {
    font-size: 14px;
}

